@media (max-width: 1000px) {
    content {
        font-size: 32px;
        width: 700px;
    }
    content img {
        width: 500px;
        float: left;
    }
    aside {
        float: right;
        width : 200px;
    }
    footer {
        text-align: center;
    }
}
    .profile img {
        width: 100px%;
        float: right;
        padding-left: 0;
    }

@media (max-width:670px){
    content {
        font-size: 24px;
        width: 400px;
    }
    content img {
        width: 200px;
        display: center;
        float:left;
    }
    aside {
        float: right;
        width:20%;
        .profile img {
        width: 50px;
        display: center;
        padding-left: 0;
        float: right;
    }

    }
    footer {
        text-align: center;
        Color: white;
    }

    
